body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: lightseagreen;
    color:white
}

h1{
    text-align: center;
    color: darkslategrey;
}

.container{
    width: 30%;
    background-color: white;
    padding: 30px;
    margin: 30px auto;
}

.tareasList{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

form{
    display: flex;
}

input{
    padding: 15px 10px;
    width: 400px;
    outline: none;
}

.btn-add{
    padding: 5px 15px;
    color: white;
    background-color: teal;
    font-family: fantasy;
    border: none;
    font-size: 1.4rem;
}

.btn-add:hover {
    cursor: pointer;
    background-color: lightseagreen;
}

.empty{
    color: darkslategray;
}


li{
    list-style:none;
    margin-top: 15px;
    width: 400px;
    height:3rem;
    outline: none;
    border-radius: 10px;
    background-color: lightgray;
    position: relative;
    right: 10%;
    display: flex; 
}

li p {
    margin: 0;
    padding: 15px;
    width: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.btn-delete{

    margin-left: auto;
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: rgb(173, 63, 63);
    font-family: fantasy;
    border: none;
    font-size: 1.4rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-delete:hover {
    cursor: pointer;
    background-color: rgb(248, 13, 13);
}